/* Buttons
================================================================================*/
button, 
input[type="button"],
input[type="reset"], 
input[type="submit"] {
	width: 150px;
	height: 30px;
	background-color: lighten(#6b6358, 15%);
	color: #fff;
	font-weight: bold;
	border: 1px solid #6b6358;
	margin: 0.5em 0;
	&:hover {
		cursor: pointer;
		background-color: darken(#6b6358, 15%);
	}
}
input[type="button"],
input[type="reset"], 
input[type="submit"] {
	line-height: 0.5em;
}
button[disabled], 
input[disabled] { 
	cursor: default;
	border: 1px solid #ccc;
	background-color: lighten(#ccc, 5%);
	color: #ccc;
	&:hover {
		cursor: default;
		background-color: lighten(#ccc, 5%);
	}
}