/* Colors
================================================================================*/
.at-colors--swatch--one {
	background-color: #ff0000;
}
.at-colors--swatch--two {
	background-color: #00ff00;
}
.at-colors--swatch--three {
	background-color: #0000ff;
}
.at-colors--swatch--four {
	background-color: #ffff00;
}
.at-colors--swatch--five {
	background-color: #00ffff;
}
.at-colors--swatch--six {
	background-color: #ff00ff;
}