/* Radio Buttons
================================================================================*/
.radio--list {
	list-style-type: none;
	padding: 0;
	li {
		margin: 0;
	}
}
input[type="radio"] {
	width: auto;
	margin-right: 0.3em;
}